<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
  <div class="form-group">
    <%= form.label :priority %><br/>
    <%= form.radio_button :priority, '0'%>Low
    <%= form.radio_button :priority, '1'%>Medium
    <%= form.radio_button :priority, '0'%>High
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
